@import "../../styles/variables.scss";

.switcher {
  position: relative;
  display: inline-block;
  width: 76px;
  cursor: pointer;
}

.topButton {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    color: $white;
  }
}
