@import "../../styles/variables.scss";

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background: $bluePurpleGradient;

  &__content {
    display: flex;
    justify-content: space-between;
    @extend .container;
  }

  &__nav {
    a {
      display: flex;
    }
  }
}
