@import "../../styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  box-shadow: $shadowM;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: $shadowL;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 12 / 7;
  background-color: $lightBlue;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;

  &__date {
    line-height: 16px;
    color: $grey;
  }

  &__title {
    font-size: $fontSizeM;
    line-height: 24px;
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
