$black: #000;
$white: #fff;
$grey: #6a6a6a;
$lightBlue: #f2f4ff;
$blue: #3951e7;
$purple: #832ab9;

$bluePurpleGradient: linear-gradient(45deg, $blue, $purple);

$fontSizeS: 12px;
$fontSizeM: 16px;
$fontSizeL: 24px;
$fontSizeXL: 40px;

$shadowL: 0 0 24px 0 rgba(0, 0, 0, 0.20);
$shadowM: 0 0 16px 0 rgba(0, 0, 0, 0.16);
$shadowS: 0 0 10px 0 rgba(0, 0, 0, 0.2);

$borderRadius: 16px;

.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 30px;
  margin: 0 auto;
}
