$black: #000;
$grey: #6a6a6a;

$bluePurpleGradient: linear-gradient(45deg, #3951e7, #832ab9);

$shadowLarge: 0 0 16px 0 rgba(0, 0, 0, 0.16);
$shadowSmall: 0 0 10px 0 rgba(0, 0, 0, 0.2);

$borderRadius: 16px;

.container {
  width: 100%;
  max-width: 1230px;
  padding: 10px;
  margin: 0 auto;
}