@import "../../styles/variables.scss";

.modal {
  display: none;
  position: absolute;
  top: 40px;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: $white;
  box-shadow: $shadowS;

  &_open {
    @extend .modal;
    display: flex;
  }
}
