@import "../../styles/variables.scss";

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 12 / 7;
  background-color: $lightBlue;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__date {
    color: $grey;
  }
}

.newsText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    line-height: 30px;
    font-size: $fontSizeM;
  }
}
